body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #d4e0d9;
}

main {
	flex: 1 0 auto;
}
.brand-logo img{
	padding-left: 10px;
	width: 60px;
	height: 68px;
}

a.btn{
	margin-left: 40%;
	margin-top: 30%;
	font-size: 1.5em;
	height: 40px;
	text-align: center;
	padding-top: 2px;
	border: 2px solid;
}

img.logoIntro{
	width: 50%;
	height: 60%;
}

input.iniciobtn{
	color: black !important;
}

/* materialize changes*/
.secondary-content{
	color: #175d7e;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  /*Color change*/
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #000000;
}

.input-field label{
	color: black;
}

@media only screen and (min-width: 200px){
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
		height: 70px;
		line-height: 70px;
	}
	nav{
		background-color: #a7d72d !important;
	}
}

.btn, .btn-large{
	background-color: #0018ff;
}

footer.page-footer{
	background-color: #a7d72d;
}
