/*
* Estilos que usa rotalo en su interfaz en su parte de frontend
*/

body {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

main {
  flex: 1 0 auto;
}

li {
  list-style: none;
}

.brand-logo img {
  padding-left: 10px;
  width: 60px;
  height: 68px;
}

.parallax-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bordeModalbtn {
  border: black solid 0.3px;
  border-radius: 5px;
}

.card .card-image .card-title {
  color: rgb(0, 0, 0);
}

.card .card-image {
  margin-left: 4px;
  margin-bottom: 4px;
  margin-top: 6px;
  margin-right: 4px;
}

.card {
  height: 500px;
}

.card-content {
  overflow-y: auto;
}

.formas {
  margin: 50px 10px 10px 50px;
  padding: 50px 50px 50px 50px;
  border: 2px solid;
  border-color: rgba(0, 137, 236, 0.46);
  border-radius: 5px;
}

a.btn{
	background: rgba(92, 95, 97, 0.46);
	margin-bottom: 5em;
	border: 2px solid;
	line-height: 2em;
	width: 300px;
}

img.imgCard {
  height: 300px;
  width: 400px;
}
.centralizadoLogo{
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

img.logoIntro {
  width: 500px;
  height: 150px;
  /*margin-left: auto;
  margin-right: auto;
  display: block;*/
  align-items: center;
}

.iniciobtn {
  color: black !important;
  background-color: rgba(210, 255, 82, 1);
}


.iniciobtn{
	color: white !important;
	background-color: rgba(210,255,82,1);
}
.btnreg:hover{
	background-color: rgba(213, 91, 74) !important;
	color: rgba(255, 255, 255, 0.66) !important;
}
.dropdown-content{
	background: rgba(20, 155, 90, 0.93);
	min-height: auto;
	min-width: 200px;
	max-height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.dropdown-content li>a:hover, .dropdown-content li>span:hover {
  background-color: #b65a02;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover{
	background-color: #d35a49;
}
label.archivolbl {
  color: black;
  font-size: inherit;
}

.collection li.collection-item:hover:not(.active) {
  background-color: rgba(255, 184, 0, 0.5);
}

.collection li.collection-item:hover:not(.active){
	background-color: rgba(20, 155, 90,0.5);
}
.collection li.collection-item.perfil:hover:not(.active){
	background-color: rgba(0, 137, 236, 0.82);
}
.btn, .btn-large{
	background-color: rgba(91, 93, 92, 0.45);
}
.btn:hover{
	background-color: rgba(213, 91, 74, 1);
}
a.btn-mine {
  background-color: rgba(0, 137, 236, 0.46);
  border: 0.3px solid;
}

a.btn-mine:hover {
  background-color: rgba(0, 137, 236, 0.80);
}

.imgCambio {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  border: 0.8px solid rgba(113, 113, 113, 0.83);
}

.change {
  color: black;
  background-color: rgba(82, 151, 255, 0.73);
  border: 2px solid;
  border-color: rgba(33, 118, 245, 1);
  border-radius: 10px;
  padding: 8px 3px 8px 10px;
  text-align: center;
  opacity: 0;
}

.nChange {
  color: black;
  background-color: rgba(252, 0, 0, 0.73);
  border: 2px solid;
  border-color: rgba(252, 0, 0, 1);
  border-radius: 10px;
  padding: 8px 3px 8px 10px;
  text-align: center;
  opacity: 0;
}

input[type=file].cFotoP {
  display: none
}

.archivos {
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.74);
}

.archivos:hover {
  color: rgb(48, 255, 23)
}

.cat {
  margin: 5px 5px 5px 5px;
}

input[type=color] {
  width: 100%;
  background-color: rgba(142, 142, 142, 0.3);
  border: 1px solid black;
  cursor: pointer;
}

[type="checkbox"]+label {
  margin-top: 38px;
  margin-left: 5px;
  color: black;
}

.cambioFoto {
  cursor: pointer;
}

.categoriaNombre {
  font-size: 35px;
  margin-top: 50px;
  color: black;
  border: 2px solid rgba(0, 137, 236, 0.46);
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background-color: rgba(0, 137, 236, 0.32);
}

.input-field .prefix.active {
  color: #999;
}

input[type=text].inputbuscar {
  background-color: #fff;
  color: black;
}

.productosEspecifico {
  border: 1px solid rgba(0, 137, 236, 0.46);
  height: auto;
  margin-top: 50px;
  padding-bottom: 100px;
  background-color: rgba(0, 137, 236, 0.46);
}

.userProduct {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.imgUserPd {
  border: 1px solid rgba(0, 137, 236, 0.46);
  margin-left: auto;
  margin-right: auto;
  display: block;
	width: 200px;
	height: 200px
}

.imgSola {
  border: 0.5px solid black;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type=text]:disabled {
  color: black;
  border-bottom: 0.5px dot rgb(112, 112, 112);
  height: 1rem;
}

.fieldCategoria {
  margin-top: 2px;
  font-weight: 900;
}

.perfilUsuario {
  text-align: center;
}

.rounded {
  border-radius: 5px;
}

textarea:disabled.txtProducto {
  color: yellow;
}

label.txtProducto.active {
  color: black !important;
  font-weight: bold;
}

.comentario {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  margin-top: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: 15px;
}

img.circle.imgcom {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 10px;
	float: left;
}

p.detalleComent{
	padding-left: 20px;
}

.truequeMuestra{
  height: 100px;
  margin-top: 30px;
}

.btnTrueque
{
  background-color: rgba(12, 227, 40, 0.42);
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 10px 3px 3px 3px;
  border: 0.5px solid rgba(128, 173, 241, 0.74);
  color: black;
  margin-right: 5px;
}


@media only screen and (min-width: 1000px){
  .botonesHT{
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .listItem{
    border: 1px solid rgba(171, 171, 171, 0.5);
    border-radius: 5px;
    height: 150px;
    background-color: white;
  }
  .listItem:hover{
    background-color: rgba(20, 155, 90,0.5);
  }
}

@media only screen and (max-width: 500px){
  .botonesHT{
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.tituloPerfil{
  font-family: 'Anton', sans-serif;
  margin-top: 50px;
}

.collection.perfil{
  border: none;
}

.collection-item.perfil{
  background-color: rgba(0, 137, 236, 0.46);
}

/*================================== https://jsfiddle.net/c5s42vdz/ ==============================================*/

.image-upload>input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}


/*================================== Swipper ==============================================*/

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 250px;
  border: 0.5px solid black;
  border-radius: 5px;
}


/*================================== w3s ==============================================*/

.tooltipW {
  position: relative;
  display: inline-block;
}

.tooltipW .tooltiptextW {
  visibility: hidden;
  width: 250px;
  background-color: rgba(252, 123, 0, 0.86);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltipW .tooltiptextW::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(252, 123, 0, 0.63) transparent transparent transparent;
}

.tooltipW:hover .tooltiptextW {
  visibility: visible;
  opacity: 1;
}


/*================================== materialize changes ==============================================*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  text-transform: none;
  color: #fd7b00;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #a7d72d;
  border-bottom: 2px solid #a7d72d;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
  background-color: #d35a49 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  border: 2px solid #b1dcfb !important;
}

.dropdown-content li > a, .dropdown-content li > span{
	color: #fff;
}

.secondary-content {
  color: #175d7e;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  /*Color change*/
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #000000;
}

.input-field label {
  color: black;
  top: 0.5rem;
}

@media only screen and (min-width: 200px){
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
		height: 70px;
		line-height: 70px;
	}
	nav{
		background-color: #149b5a !important;
	}
}

footer.page-footer{
	background-color: #236483;
}
/*---------------------------------- stars rating --------------------------------------------*/

li.star {
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  list-style-type: none;
}

li.starN {
  cursor: default;
  display: inline-block;
  font-size: 50px;
  list-style-type: none;
}

li.starNegra {
  cursor: default;
  display: inline-block;
  font-size: 50px;
  list-style-type: none;
}

.star, .rating:not(.vote-cast):hover .star:hover~.star, .rating.vote-cast .star.selected~.star {
  /* normal state */
  color: white;
}

.starN {
  /* normal state */
  color: white;
}

.starNegra {
  color: black;
}

.rating:hover .star, .rating.vote-cast .star {
  /* highlighted state */
  color: orange;
}
.starN.colored {
  color: rgb(255, 245, 0);
}

.ratingN {
  text-align: center;
}
