/*
* Estilos que usa rotalo en su interfaz en su parte de frontend
*/
body {
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
}

main {
	flex: 1 0 auto;
}

li{
	list-style: none;
}
.brand-logo img{
	padding-left: 10px;
	width: 60px;
	height: 68px;
}

.parallax-container{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border: #a7d72d  solid;
}

.bordeModalbtn{
	border: black solid 0.3px;
	border-radius: 5%;
}

.card .card-image .card-title{
	color: rgb(0, 0, 0);
}
.card .card-image{
	margin-left: 4px;
	margin-bottom: 4px;
	margin-top: 6px;
	margin-right: 4px;
}
.card{
	height: 500px;
}

.card-content{
	overflow-y: auto;
}
.formas{
	margin: 50px 10px 10px 50px;
	padding: 50px 50px 50px 50px;
	border: 2px solid;
	border-color: rgba(91, 120, 10, 0.88);
	border-radius: 5%;
}

a.btn{
	background: rgba(136, 136, 136, 0.5);
	margin-bottom: 5em;
	border: 2px solid;
	line-height: 2em;
	width: 300px;
}

img.imgCard{
	height: 300px;
	width: 400px;
}

img.logoIntro{
	width: 500px;
	height: 150px;
	display: flex;
	align-items: center;
}


.iniciobtn{
	color: black !important;
	background-color: rgba(210,255,82,1);
}
.btnreg:hover{
	background-color: rgba(210, 255, 82, 0.68) !important;
	color: rgba(0, 0, 0, 0.66) !important;
}
.dropdown-content{
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(167,215,45,0.66) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(167,215,45,0.66)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(167,215,45,0.66) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(167,215,45,0.66) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(167,215,45,0.66) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(167,215,45,0.66) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#a7d72d', GradientType=0 );
	min-height: auto;
	min-width: 200px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.indd{
	min-height: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover{
	background-color: #a7d72d;
}

label.archivolbl{
	color:  black;
	font-size: inherit;
}
.collection li.collection-item:hover:not(.active){
	background-color: rgba(167, 215, 45, 0.5);
}
.btn, .btn-large{
	background-color: rgba(210,255,82,0.7);
}
.btn:hover{
	background-color: rgba(210,255,82,1);
}
a.btn-mine{
	background-color: rgba(210,255,82,0.7);
	border: 0px;
}
a.btn-mine:hover{
	background-color: rgba(210,255,82,1);
}

.imgCambio{
	height: 100px;
	width: 100px;
	border-radius: 5%;
	border: 0.8px solid rgba(113, 113, 113, 0.83);
}

.change{
	color: black;
	background-color: rgba(82, 151, 255, 0.73);
	border: 2px solid;
	border-color: rgba(33, 118, 245, 1);
	border-radius: 10%;
	padding: 8px 3px 8px 10px;
	text-align: center;
	opacity: 0;
}

.nChange{
	color: black;
	background-color: rgba(252, 0, 0, 0.73);
	border: 2px solid;
	border-color: rgba(252, 0, 0, 1);
	border-radius: 10%;
	padding: 8px 3px 8px 10px;
	text-align: center;
	opacity: 0;
}

input[type=file].cFotoP{
	display: none
}

.archivos{
	width: 100px;
	height: 100px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.74);
}
.archivos:hover{
	color: rgb(48, 255, 23)
}

/*================================== materialize changes ==============================================*/

.dropdown-content li > a, .dropdown-content li > span{
	color: #000000;
}

.secondary-content{
	color: #175d7e;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  /*Color change*/
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #000000;
}

.input-field label{
	color: black;
}

@media only screen and (min-width: 200px){
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
		height: 70px;
		line-height: 70px;
	}
	nav{
		background-color: #a7d72d !important;
	}
}

footer.page-footer{
	background-color: #a7d72d;
}
